table, tr, td,th{
    border: 2px solid green;
    border-collapse: collapse;

}
table{
    width: 40%;
    margin: auto;
}

td, th{
    padding: 10px;
    text-align: center;
}
tbody tr:hover{
    background-color: red;
    color: white;
}